---
const { title = "BookDigest" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="max-w-screen-md mx-auto py-8 font-sans">
    <slot />   <!-- page content gets injected here -->
  </body>
</html>
